<div class="row justify-content-md-center">
    <div class="card w-50">
        <img class="card-img-top" src="assets/img/{{ good.id }}.jpg" alt="{{ good.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ good.name }}</h5>
            <p class="card-text">Price: {{ good.price }} rub.</p>
            <p class="card-text">In stock: {{ good.quantity }}</p>
            <p class="card-text">{{ good.description }}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div>
